pytest
azure-functions >= 1.8.0, < 2.0.0
Jinja2 >= 3.1.1, < 4.0.0

pip_services3_commons >= 3.3.12, < 4.0.0
pip_services3_components >= 3.5.9, < 4.0.0
pip_services3_container >= 3.2.5, < 4.0.0
pip_services3_rpc >= 3.3.2, < 4.0.0